.dropdown {

  .dropdown-base {
    width: 100%;
  }

  .dropdown-content {
    display: none;
    flex-direction: column;
    width: 100%;

    .dropdown-item {
      &:not(:last-of-type) {
        border-radius: 0;
      }

      &:last-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  &.active {
    .dropdown-base {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .dropdown-content {
      display: flex;
    }
  }
}
