.statistic-container {
  display: flex;
  flex-wrap: wrap;

  table {
    width: 100%;
    background-color: var(--background-primary);
    margin: .5rem;
    border-radius: .5rem;

    tr {
      &:hover {
        color: var(--text-color-secondary);
        cursor: pointer;
      }

      td {
        padding: 1rem;

        &:last-of-type {
          text-align: right;
        }
      }
    }
  }
}

.statistic-row {
  h2 {
    padding-left: .5rem;
  }
}

@media screen and (max-width: 1560px) {
  .statistic-container {
    .statistic-link {
      min-width: calc((100% - 8rem) / 4);
    }
  }
}

@media screen and (max-width: 1250px) {
  .statistic-container {
    .statistic-link {
      min-width: calc((100% - 6rem) / 3);
    }
  }
}

@media screen and (max-width: 980px) {
  .statistic-container {
    .statistic-link {
      min-width: calc((100% - 4rem) / 2);
    }
  }
}

@media screen and (max-width: 820px) {
  .statistic-container {
    .statistic-link {
      min-width: calc((100% - 2rem) / 1);
    }
  }
}
