@import "font_setup";

@import "font";
@import "color_setup";

@import "block__local_tasks";
@import "block__ohano_content";
@import "profile_block";
@import "profile_card";
@import "header";
@import "aside";
@import "dropdown";

// EXPERIMENTAL
//@import "tests/sample1/main";

body {
  margin: 0;

  .region {
    border-radius: 1rem;
    margin: .5rem;
    padding: .5rem;
  }
}

main {
  width: 100%;
  display: flex;
}

.region.region-meta.region-meta--frontend {
  display: none;
}

button,
.button {
  flex-grow: 1;
  flex-basis: 0;

  color: var(--text-color-primary);
  background-color: var(--background-primary);
  border: none;
  text-decoration: none;
  text-align: center;

  border-radius: .5rem;

  padding: .5rem;

  &:hover {
    background-color: var(--text-color-primary);
    color: var(--background-primary);
    cursor: pointer;
  }
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: row;

  button,
  .button {
    &:not(:first-of-type) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-of-type) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.ohano-table {
  display: flex;
  flex-direction: column;
  width: 100%;

  .ohano-table-row {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;

    .ohano-table-cell {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    .layout-sidebar-left,
    .layout-sidebar-right {
      width: calc(100%/12*2);
    }

    .layout-content {
      width: calc(100%/12*8);
    }
  }
}
