/vendor
/tmp/*
!/tmp/.gitkeep
/web/core
/web/modules/contrib
/web/modules/README.txt
!/web/modules/.gitkeep
/web/themes/contrib
/web/themes/README.txt
!/web/themes/.gitkeep
/web/profiles/contrib
/web/profiles/README.txt
!/web/profiles/.gitkeep
/web/tmp/*
!/web/tmp/.gitkeep
/web/sites/*/settings.*.php
/web/sites/*/default.settings.php
/web/sites/*/default.services.yml
/web/sites/*/files
/web/sites/README.txt
/web/sites/development.services.yml
/web/sites/example.sites.php
/web/sites/example.settings.local.php
/private/*
!/private/.gitkeep
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config
/web/README.md
/.idea
*.sql
*.sql.gz
/db/*
!/db/base.sql.gz
!bigcitymc.com.sql
/.editorconfig
/.gitattributes
.phpunit.result.cache

*.env
!*.example.env

/web/sites/simpletest

/export/verification/*
!.gitkeep

deploy.php

/config/ohano.me/*
!/config/ohano.me/.gitkeep
