<div>
  <div>
    <button id="setLightMode">{{ 'Light'|trans }}</button>
    <button id="setDarkMode">{{ 'Dark'|trans }}</button>
  </div>
</div>

{{ attach_library('ohano_appearance/dark-light-mode-switch') }}
