<div class="profile">
  <div class="profile-card-container">
    {{ profile }}
  </div>
  <div class="options-container">
    {% if options %}
      {{ options }}
    {% endif %}
  </div>
  <div class="feed-container">
    {% if feed %}
      {{ feed }}
    {% endif %}
  </div>
</div>
