<{% if path %}a{% else %}span{% endif %} class="feature"{% if path %} href="{{ path(path) }}"{% endif %}>
  <div class="icon"><i class="{{ icon_class }}"></i></div>
  <div class="name">{{ name }}</div>
</{% if path %}a{% else %}span{% endif %}>
