@font-face {
  font-family: 'Comfortaa';
  font-weight: normal;
  src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 300;
  src: url("../fonts/Comfortaa-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: bold;
  src: url("../fonts/Comfortaa-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Dongle';
  font-weight: normal;
  src: url("../fonts/Dongle-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Dongle';
  font-weight: 300;
  src: url("../fonts/Dongle-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Dongle';
  font-weight: bold;
  src: url("../fonts/Dongle-Bold.ttf") format("truetype");
}
