@font-face {
  font-family: 'Comfortaa';
  font-weight: normal;
  src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 300;
  src: url("../fonts/Comfortaa-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: bold;
  src: url("../fonts/Comfortaa-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url("../fonts/Nunito[wght].ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  src: url("../fonts/Nunito-Italic[wght].ttf") format("truetype");
}
