@import "font_setup";

@import "font";

@import "header";
@import "sidebar";

body {
  margin-top: 0;

  .container,
  .navbar.container {
    max-width: 100vw;
    width: 100vw;
  }

  main[role="main"] {
    padding-top: 7rem;
  }
}
